/* General Layout and Colors */
body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
header {
    background-color: #293241;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    box-sizing: border-box;
}
header .logo img {
    height: 120px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-left: 20px;
}
a {
    color: #89c2d9;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Main Content and Sidebar */
main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    margin-top: 20px;
    padding: 55px;
}
footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

/* Buttons and Links */
button, input[type="submit"] {
    background-color: #293241;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #666;
}
button:hover, input[type="submit"]:hover {
    background-color: #1d2c34;
}

/* Images and Thumbnails */
img {
    width: 100%;
    height: auto;
    display: block;
}

/* Forms */
input[type="text"], input[type="search"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
}
input[type="text"]:hover, input[type="search"]:hover, textarea:hover {
    border-color: #e63946;
}
.movie-image {
    flex: 1;
    max-width: 600px;
}

.movie-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.movie-info {
    margin-bottom: 10px;
}

.movie-info h1, .movie-info p {
    color: #293241;
}

.movie-info h1 {
    margin-bottom: 0.5em;
}

.movie-info p {
    margin-bottom: 0.25em;
}

/* Add some space between sections */
.movie-info-section {
    margin-top: 0px;
}

/* Search Container */
.search-result-container {
    flex-direction: column;
    display: block;
    width: 100%;
    margin: auto;
    padding: 0;
}
.search-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 150px;
}

.search-container form {
    margin: 0 auto;
    max-width: 600px;
}

/* Results Container */
.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.movie-result {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    text-align: center;
}

.movie-result:hover {
    background-color: #e2e6ea;
}

.movie-result h2 {
    font-size: 18px;
    color: #333;
    margin: 0;
}
.movie-link {
    text-decoration: none;
    color: inherit;
}
.signup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin-top: 20px;
}
.signup-content form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #fff;
}

.signup-content form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-content form button {
    padding: 10px;
    margin-top: 20px;
    color: white;
    background-color: #293241;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-content form button:hover {
    background-color: #89c2d9;
}

/* General style for login page */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #f4f4f4;
}

.login-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #fff;
    align-items: center;
}

.login-container form label {
    self-align: start;
    width: 100%;
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
}

.login-container form input[type="text"],
.login-container form input[type="password"] {
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.login-container form button {
    padding: 12px 0;
    color: white;
    background-color: #293241;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.login-container form button:hover {
    background-color: #89c2d9;
}

* {
    box-sizing: border-box;
}
/* Logout Page Styles */
.logout-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    text-align: center;
}

.logout-page p {
    font-size: 30px;
    margin-bottom: 20px;
}

.logout-page a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #293241;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.logout-page a:hover {
    background-color: #89c2d9;
}
.logout-button {
    all: unset;
    background: none;
    color: #89c2d9;
    border: none;
    padding: 0;
    font: inherit;
    text-decoration: none;
}

.logout-button:hover {
    text-decoration: underline;
}

.reviews-section {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 20px;
}

.reviews-section h2 {
    color: #293241;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}

.reviews-section ul {
    list-style-type: none;
    padding: 0;
}

.reviews-section li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}

.reviews-section li:last-child {
    border-bottom: none;
}

.flow-direction-column {
    display: flex;
    flex-direction: column;
}
.flow-direction-row {
    display: flex;
    flex-direction: row;
}
.gap {
    gap: 50px;
}
/* styles.css */
.reviewed-movie-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 80px;
}

.reviewed-movie-container {
    width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.reviewed-movie-container:hover {
    transform: translateY(-5px);
}

.reviewed-movie-poster {
    width: 100%;
    height: auto;
    display: block;
}

.reviewed-movie-info {
    padding: 10px;
    text-align: center;
    background-color: #fff;
}

.reviewed-movie-info h3 {
    font-size: 16px;
    margin: 0;
}

.reviewed-movie-info p {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}
.review-text-box {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 5px;
}
.my-portal {
    margin-bottom: 20px;
    margin-top: 80px;
    padding: 10px;
    min-width: 100%;
}
.my-portal  h2{
    text-align: center;
}
.my-portal .my-portal-review {
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Styles for the Edit Review page */
.edit-review-container {
    width: 100%;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 8px;
}

.edit-review-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.edit-review-container form {
    display: flex;
    flex-direction: column;
}

.edit-review-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.edit-review-container input,
.edit-review-container textarea,
.edit-review-container select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-review-container button {
    padding: 10px 15px;
    background-color: #293241;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-review-container button:hover {
    background-color: #89c2d9;
}
.delete-review-container {
    max-width: 400px;
    margin: 30px auto;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 8px;
}

.delete-review-container h2 {
    color: #333;
    margin-bottom: 20px;
}

.delete-review-container button,
.delete-review-container a {
    all: unset;
    width: 100px;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    margin: 5px;
    background-color: #293241;
    color: white;
    border: none;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
}

.delete-review-container a {
    background-color: #6c757d;
}

.delete-review-container button:hover,
.delete-review-container a:hover {
    opacity: 0.8;
}
.home-container {
    text-align: center;
    padding-top: 75px;
    width: 80%;
    margin: 20px auto;
}
.home-container p {
    font-size: 20px;
    text-align: justify;
    padding-top: 20px;
}
.trending-movie {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 30%;
    margin: 20px auto;
    padding: 20px;
}

.trending-movie h2 {
    color: #130101;
    margin-bottom: 10px;
    text-align: center;
}

.trending-movie ul {
    list-style-type: none;
    padding: 0;
}

.trending-movie li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.trending-movie li:last-child {
    border-bottom: none;
}

.trending-movie a {
    color: #293241;
    text-decoration: none;
    font-weight: bold;
}

.trending-movie a:hover {
    text-decoration: underline;
}