{% extends 'base.html' %}

{% block content %}
<div class="search-result-container">
    <div class="search-container">
        <form method="post" action="{% url 'search_movie' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="results-container">
        {% if movies is not None %}
            {% if movies %}
                {% for movie in movies %}
                <a href="{% url 'movie_detail' movie.imdb_id %}" class="movie-link">
                    <div class="movie-result">
                        <h2>{{ movie.title }} ({{ movie.year }})</h2>
                    </div>
                </a>
                {% endfor %}
            {% else %}
                <p>The search did not yield any results. Please try again with different terms.</p>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
